<div class="media msg">

    <%= link_to message.user, class: "pull-left" do %>
      <%= image_tag(message.user.avatar_url, class: "media-object avatar") %>
    <% end %>

    <div class="media-body">
        <small class="pull-right time"><%= message_time(message) %></small>
        <h5 class="media-heading"><%= message.user.email %></h5>
        <small class="col-lg-10">
            <%= message.body %>
        </small>
    </div>
</div>
