<div id= "chatroom">
  <div id="messages"  data-chatroom-id="<%= @chatroom.id %>" >
    <%= render @messages %>
  </div>

  <%= form_for @message, url: '#' do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: 'form-control', rows: 3, placeholder: "Write a reply..." %>
    </div>

    <%= f.submit "Send", class: 'btn-primary pull-right', data: { disable_with: false } %>
  <% end %>
  <button id="call-button">Call</button>
</div>


<div id="video-chat">
  <div id="participants-webcams" class= "col-lg-12"></div>
  <div id="webcam-preview"></div>
  <div id="chat-controls">
    <span id="call-timer"></span>
    <%= image_tag("hang_up_button.png", id: "hang-up-button") %>
  </div>
</div>

<script src="//media.twiliocdn.com/sdk/js/video/v1/twilio-video.min.js"></script>
