<%= image_tag(@user.avatar_url, class: "profile-avatar") %>
<h2><%= @user.name %></h2>
<% unless @current_user == @user %>
  <% if @chatroom %>
    <%= link_to "Go to dialog", chatroom_path(@chatroom.id) %>
  <% else %>
    <%= link_to "Send message", new_chatroom_path(@user.id), method: :post %>
  <% end %>
<% end %>

<h2>Interested subjects</h2>

<ul id= "subjects-list" class="list-group">
  <%= render @user.subjects, without_nested: true %>
</ul>
