<div class="col-lg-5">
<%= image_tag(@user.avatar_url, class: "profile-avatar") %>
</div>
<div class="col-lg-7">
  <h2><%= @user.name %></h2>
  <span><%= "admin " if @user.admin? %></span>
  <span><%= "moderator " if @user.moderator? %></span>
  <span><%= "verified " if @user.verified? %></span>

  <div class="status">
    <div class="<%= @user.status %>"><%= @user.status %>, <%= @user.is_available? ? "available": "not available" %></div>
  </div>

  <% if current_user && current_user != @user %>
    <%= link_to "edit", admin_edit_user_path(@user.id) if current_user.admin? %>

    <div id="relation-with-user" >
      <% case current_user.relation_with @user %>
        <% when "friends" %>
          <p> Already your friend </p>
          <%= button_to "Remove from friends", remove_friend_path(@user), class: "btn btn-danger", method: :delete %>
        <% when "not_friends" %>
          <p> Not friend yet</p>
          <%= button_to "Add to friends", add_friend_path(@user), class: "btn btn-success" %>
        <% when "invited_user" %>
          <p> Not accepted your invite yet </p>
          <%= button_to "Cancel invite", remove_friend_path(@user), class: "btn btn-danger",method: :delete %>
        <% when "invited_by_user" %>
          <p> Want's to be your friend </p>
          <%= button_to "Accept invite", add_friend_path(@user), class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="chatroom-button">
      <% if @chatroom %>
        <%= button_to "Go to dialog", chatroom_path(@chatroom.id), class: "btn btn-primary", method: :get %>
      <% else %>
        <%= button_to "Send message", new_chatroom_path(@user.id), class: "btn btn-primary" %>
      <% end %>
    </div>
    <div>
      <%= button_to "Invite to study", new_user_lesson_path(@user.id), class: "btn btn-info", method: :get %>
    </div>
  <% end %>

  <p> Country <%= @user.country %> </p>
  <p>State/province <%= @user.state %></p>
  <p>City <%= @user.city %></p>
  <p>Time zone <%= @user.time_zone %></p>

  <div class="row">
  <h3>Availability</h3>
    <% @user.availability.each do |day, v| %>
      <div class="col-lg-3">
        <h4><%= day %></h4>
        <p><%= "#{v[:from]}-#{v[:to]}" %></p>
      </div>
    <% end %>
  </div>

</div>
<div class="col-lg-12">
  <h2>Interested subjects</h2>

  <ul id= "subjects-list" class="list-group">
    <%= render @user.subjects, without_nested: true %>
    <%= "Not interested in something yet" unless @user.subjects.any?%>
  </ul>
</div>
