<h1><%= @subject.name %></h1>
<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_subject_path(@subject) %> |
<% end %>
<%= link_to 'Back', subjects_path %>

<h2> Interested users </h2>

<% if current_user %>
  <ul id="interested-users-list" class="list-group">
    <%= render @subject.users %>
  </ul>
<% else %>
  <strong> <%= @subject.users.count %> users are interested in this subject </strong>
<% end %>
