<div id="lessons-time" data-lessons="<%= time_ranges_json_for(Lesson.time_for(current_user, @user)) %>"></div>
<div id="current-user-availability" data-availability="<%= time_ranges_json_for(current_user.availability) %>"></div>
<div id="user-availability" data-availability="<%= time_ranges_json_for(@user.availability) %>"></div>

<%= link_to "Back to #{@user.name} profile", user_path(@lesson.receiver_id) %>

<hr/>

<%= form_for [@user, @lesson], url: user_lessons_path do |f| %>
  <%= errors_for(@lesson) %>

  <%= f.hidden_field :sender_id %>
  <%= f.hidden_field :receiver_id %>

  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, rows: 4,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.select :subject_id, @subject? [[@subject.name, @subject.id]] : [] %>
  </div>

  <div class="lesson">
    <div class="form-group">
      <%= f.label :starts_at %>
      <%= f.text_field :starts_at_date, class: "date start", value: params[:lesson]? params[:lesson][:starts_at_date] : nil %>
      <%= f.text_field :starts_at_time, class: "time start", value: params[:lesson]? params[:lesson][:starts_at_time] :nil %>
    </div>
    <div class="form-group">
      <%= f.label :ends_at %>
      <%= f.text_field :ends_at_date, class: "date end", value: params[:lesson]? params[:lesson][:ends_at_date] :nil %>
      <%= f.text_field :ends_at_time, class: "time end", value: params[:lesson]? params[:lesson][:ends_at_time] :nil %>
    </div>
    <div id="check-user-availability-loader"><i class="fa fa-circle-o-notch fa-spin" ></i></div>
    <div class="alert alert-success" id="user-available">You are available on that time</div>
    <div class="alert alert-warning" id="user-unavailable">You are not available on that time</div>
  </div>

  <div class="form-group">
    <%= f.label :recurring %>
    <%= f.check_box :recurring %>
  </div>

  <div class="form-group">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
